@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager navigationManager
<ul>
<AuthorizeView Roles="Admin">
        <li><NavLink href="/admin" Match="NavLinkMatch.All">
            <span class="oi oi-shield"></span> Admin panel
        </NavLink></li>
</AuthorizeView>
<AuthorizeView>
    <Authorized>
            <li><a href="/checkout"><span class="oi oi-cart"></span></a></li>
            <li><a href="/home">Home</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/account">Logged in as: @context.User.Identity?.Name</a></li>
            <li><button class="nav-link btn btn-link" @onclick="BeginLogOut">Logout</button></li>
    </Authorized>
    <NotAuthorized>
            <li><a href="authentication/register">Register</a></li>
            <li><a href="authentication/login">Login</a></li>
    </NotAuthorized>
</AuthorizeView>
</ul>

<style>

</style>

@code{
    private void BeginLogOut()
    {
        navigationManager.NavigateToLogout("authentication/logout");
    }

    private void GoToCheckout()
    {
        navigationManager.NavigateTo("/checkout");
    }
}
