@inherits LayoutComponentBase

<div class="page">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <main>
        <div class="top-row px-4 auth">
            <div class="logo">
            <img src="/Images/logo3.png" height="40" width="40" />
            </div>
            <LoginDisplay />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
