@page "/account"
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]

<h3>Account</h3>

<p>Här ska finnas 3 textfält för att skriva nuvarande, nytt, konfirmera nytt lösenord.</p>

<p>Nuvarande lösenord:</p>
<input type="text" placeholder="" value=""/>
<p>Nytt lösenord:</p>
<input type="text" placeholder="" value="" />
<p>Konfirmera nytt lösenord:</p>
<input type="text" placeholder="" value="" />

<button>Apply</button>

@code {

}
