/* Set a light, muted background color */
body {
    background-color: #f2f2f2;
}

/* Style the checkout table */
.table {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    border-collapse: collapse;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}

h1 {
    text-align: center;
    color: #fbe89c;
}

.buttonwrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.fullscreen img {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

.fullscreen .background {
    background-color: #fbe89c;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

    /* Style the table headings */
    .table th {
        background-color: #fbe89c;
        color: #305076;
        text-align: center;
        padding: 10px;
        font-size: 18px;
        border-bottom: 1px solid #ddd;
    }

    /* Style the table cells */
    .table td {
        padding: 10px;
        font-size: 16px;
        border-bottom: 1px solid #ddd;
        text-align: center;
    }

/* Style the quantity container */
.quantity-container {

}

/* Style the quantity buttons */
.btn-quantity {
    background-color: #305076;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-quantity-hover-minus:hover {
    background-color: darkred;
}

.btn-quantity-hover-plus:hover {
    background-color: darkgreen;
}

.btn-primary {
    background-color: #305076;
    color: #fbe89c;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.btn-primary:hover {
    background-color: #1c3a58;
}

.btn-bottom {
    position: center;
    bottom: 20px;
    left: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
