body {
    background-color: #f2f2f2; /* set a light, muted background color */
}

.container {
    padding: 20px;
}

.event-image {
    width: 100%;
}

.event-name {
    color: #fbe89c;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 20px;
}

#card {
    padding: 20px;
    background-color: rgba(48, 80, 118, 0.8);
}

.fullscreen img {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

.fullscreen .background {
    background-color: #fbe89c;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

.event-type {
    color: #fbe89c;
    font-size: 1.5rem;
    font-weight: bold;
}

.event-location,
.event-date,
.event-ticketprice,
.event-tickets-available {
    font-size: 1.2rem;
    margin-top: 10px;
    color: white;
}

.event-description {
    margin-top: 20px;
    color: white;
}

.button-group {
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

.btn-thirdary {
    background-color: darkred;
    color: white;
}

.btn-secondary {
    background-color: darkgreen;
    color: white;
}

.btn-primary {
    background-color: #305076;
    color: #fbe89c;
}
