@page "/home"
@using Microsoft.AspNetCore.Authorization;
@using TicketHive.Shared;
@attribute [Authorize]
@inject IEventsService eventsService 
@inject AuthenticationStateProvider provider


<h3>Home</h3>

@if (events != null)
{
    @foreach (var eventToDisplay in events)
    {
        string eventImage = $"/Images/{eventToDisplay.Image}.png";
        <h1>@eventToDisplay.Name</h1>
        <img src="@eventImage"/>
        <button class="btn btn-primary" @onclick="(() => AddEventToUser(eventToDisplay.Id))">Click me</button>
    }
}


@*<img src="/Images/harrypotter.png" />
<img src="/Images/bronycon.png" />
<img src="/Images/dndalbin.png" />
<img src="/Images/internetcatfest.png" />*@

<h1>abbe fixar</h1>


@code {
    private List<EventModel>? events;

    protected override async Task OnInitializedAsync()
    {
        events = await eventsService.GetAllAsync();

    }

    private async Task AddEventToUser(int id)
    {
        var authState = await provider.GetAuthenticationStateAsync();
        var userName = authState.User.Identity.Name;

        await eventsService.AddEventToUserAsync(userName, id);
    }


}
