@page "/home"
@using Microsoft.AspNetCore.Authorization;
@using TicketHive.Shared;
@attribute [Authorize]


<h3>Home</h3>

@*<img src="/Images/harrypotter.png" />
<img src="/Images/bronycon.png" />
<img src="/Images/dndalbin.png" />
<img src="/Images/internetcatfest.png" />*@


@code {
    

    
}
