body {
}

.attending {
    padding-left: 25px;
}

.popular-events {
    display:flex;
    justify-content:center;
}

.image-container {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.row {
    display:flex;
    gap: 20px;
}

.row.movie-list {
   margin-top:30px; 
   justify-content:center;
}

.row.movie-list h3 {
    margin: 10px auto;
} 

.search {
    display:flex;
    justify-content:center;
    gap: 10px;
    margin-top:30px;
}

.search input {
    min-width:30%;
    border-radius:5px;
    padding:10px;
}

.fullscreen video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

.fullscreen .background {
    background-color: #fbe89c;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

.image-container .btn {
    color: #fbe89c;
}

.image-container img {
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    box-shadow: 0px 0px 50px black;
}

article h1 {
    margin-top:30px;
}