@page "/home"
@using Microsoft.AspNetCore.Authorization;
@using TicketHive.Shared;
@attribute [Authorize]
@inject IEventsService eventsService 
@inject AuthenticationStateProvider provider

<input type="text" placeholder="Search..."/>

@if (events != null)
{
    <div class="row">
    @foreach (var eventToDisplay in events)
    {
        string eventImage = $"/Images/{eventToDisplay.Image}.png";
        <div class="image-container">
        <h3>@eventToDisplay.Name</h3>
        <img src="@eventImage"/>
        <button class="btn btn-primary" @onclick="(() => AddEventToUser(eventToDisplay.Id))">Click me</button>
        </div>
    }
    </div>
}


@code {
    private List<EventModel>? events;

    protected override async Task OnInitializedAsync()
    {
        events = await eventsService.GetAllAsync();

    }

    private async Task AddEventToUser(int id)
    {
        var authState = await provider.GetAuthenticationStateAsync();
        var userName = authState.User.Identity.Name;

        await eventsService.AddEventToUserAsync(userName, id);
    }


}
