
.logo-container {
    display: flex;
    justify-content: center;
}

.logo-container img {
    width: 300px;
}

@media (min-width: 576px) {
    .logo-container img {
        width: 700px;
    }
}

h1 {
    font-size: 42px;
    margin-bottom: 20px;
    color: #fbe89c;
    text-align: center;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
    color: #fbe89c;
}

.container-text {
    padding: 30px;
    background-color: rgba(48, 80, 118, 0.8);
}

button {
    background-color: #305076;
    color: #fbe89c;
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    border: 1px #fbe89c solid;
}

.container-button {
    display: flex;
    justify-content: center;
}

    button:hover {
        background-color: black;
    }

    .fullscreen {
            
    }

        .fullscreen video {
            object-fit: cover;
            width: 100vw;
            height: 100vh;
            position: fixed;
            left: 0;
            top: 0;
            z-index: -1;
}
